@model IEnumerable<Store.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-primary">Lista de Productos</h2><hr />

<p>
    @Html.ActionLink("Agregar Producto", "Create", new {}, new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provider)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provider)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ProductId }, new { @class="btn btn-success btn-sm"}) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ProductId },  new { @class="btn btn-info btn-sm"}) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.ProductId },  new { @class="btn btn-danger btn-sm"})
        </td>
    </tr>
}

</table>
